<h1 class='header' id='hulk'>Hulk</h1>
<h2>General Info</h2>
<p>Eric Bana ("Black Hawk Down") stars as scientist Bruce Banner, whose inner demons transform him in the aftermath of a catastrophic experiment; Jennifer Connelly portrays Betty Ross, whose scientific genius unwittingly helps unleash the Hulk; Nick Nolte plays Banner's brilliant father, who passes on a tragic legacy to his son; and Sam Elliott portrays the commander of a top-secret military research center.</p>

<h2>Super Powers</h2>
<ol>
    <li>Strength</li>
    <li>Super Human stamina</li>
    <li>Regenerative Healing Factor</li>
</ol>
